<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2014. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- A reference to the org.springframework.amqp.rabbit.connection.ConnectionFactory -->
    <rabbit:connection-factory id="connectionFactory" addresses="localhost:5672,localhost:5673" username="guest" password="guest" virtual-host="/"  />

    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.JsonMessageConverter"/>

    <!-- Creates a org.springframework.amqp.rabbit.core.RabbitAdmin  to manage exchanges, queues and bindings -->
    <rabbit:admin connection-factory="connectionFactory"  />

    <rabbit:queue name="ha.dogQueue">
        <rabbit:queue-arguments>
            <entry key="x-ha-mode">
                <value>all</value>
            </entry>
            <entry key="x-message-ttl">
                <value type="java.lang.Long">600000</value><!-- 10 minute -->
            </entry>
        </rabbit:queue-arguments>
    </rabbit:queue>
    <rabbit:queue name="ha.lionQueue">
        <rabbit:queue-arguments>
            <entry key="x-ha-mode">
                <value>all</value>
            </entry>
            <entry key="x-message-ttl">
                <value type="java.lang.Long">600000</value><!-- 10 minute -->
            </entry>
        </rabbit:queue-arguments>
    </rabbit:queue>
    <rabbit:queue name="ha.tigerQueue">
        <rabbit:queue-arguments>
            <entry key="x-ha-mode">
                <value>all</value>
            </entry>
            <entry key="x-message-ttl">
                <value type="java.lang.Long">600000</value><!-- 10 minute -->
            </entry>
        </rabbit:queue-arguments>
    </rabbit:queue>

</beans>